WS-secure-wsit/src/main/webapp/WEB-INF/wsit-com.globinch.service.MyWebService.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MyWebServiceService"
	targetNamespace="http://com.globinch.service/" xmlns:tns="http://com.globinch.service/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsaws="ttp://www.w3.org/2005/08/addressing" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
	<message name="uploadImage">
		<part name="parameters" element="tns:uploadImage" />
	</message>
	<message name="uploadImageResponse">
		<part name="parameters" element="tns:uploadImageResponse" />
	</message>
	<message name="greetCustomer">
		<part name="parameters" element="tns:greetCustomer" />
	</message>
	<message name="greetCustomerResponse">
		<part name="parameters" element="tns:greetCustomerResponse" />
	</message>
	<message name="retrieveImage">
		<part name="parameters" element="tns:retrieveImage" />
	</message>
	<message name="retrieveImageResponse">
		<part name="parameters" element="tns:retrieveImageResponse" />
	</message>
	<portType name="MyWebService">
		<operation name="uploadImage">
			<input wsam:Action="http://service.globinch.com/MyWebService/uploadImageRequest"
				message="tns:uploadImage" />
			<output
				wsam:Action="http://service.globinch.com/MyWebService/uploadImageResponse"
				message="tns:uploadImageResponse" />
		</operation>
		<operation name="greetCustomer">
			<input
				wsam:Action="http://service.globinch.com/MyWebService/greetCustomerRequest"
				message="tns:greetCustomer" />
			<output
				wsam:Action="http://service.globinch.com/MyWebService/greetCustomerResponse"
				message="tns:greetCustomerResponse" />
		</operation>
		<operation name="retrieveImage">
			<input
				wsam:Action="http://service.globinch.com/MyWebService/retrieveImageRequest"
				message="tns:retrieveImage" />
			<output
				wsam:Action="http://service.globinch.com/MyWebService/retrieveImageResponse"
				message="tns:retrieveImageResponse" />
		</operation>
	</portType>
	<binding name="MyWebServicePortBinding" type="tns:MyWebService">
		<wsp:PolicyReference
			URI="#MyWebServicePortBinding_MTOM_Policy-MyWebServicePortBinding_MTOM_Policy" />
		<wsp1_2:PolicyReference URI="#MyWebServicePortBindingPolicy" />
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="uploadImage">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="greetCustomer">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="retrieveImage">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="MyWebServiceService">
		<port name="MyWebServicePort" binding="tns:MyWebServicePortBinding" />
	</service>
	<wsp1_2:Policy wsu:Id="MyWebServicePortBindingPolicy">
		<wsp:ExactlyOne>
			<wsp1_2:All>
				<wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" />
				<sp:SupportingTokens>
					<wsp1_2:Policy>
						<sp:UsernameToken
							sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssUsernameToken10 />
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp1_2:Policy>
				</sp:SupportingTokens>
				<wsss:ValidatorConfiguration
					wspp:visibility="private" xmlns:wsss="http://schemas.sun.com/2006/03/wss/server"
					xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
					<wsss:Validator name="usernameValidator"
						classname="com.globinch.service.MyServicePasswordValidator" />
				</wsss:ValidatorConfiguration>

			</wsp1_2:All>
		</wsp:ExactlyOne>
	</wsp1_2:Policy>
	<wsp:Policy
		wsu:Id="MyWebServicePortBinding_MTOM_Policy-MyWebServicePortBinding_MTOM_Policy">
		<ns1:OptimizedMimeSerialization
			xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
			wsp:Optional="true" />
	</wsp:Policy>
</definitions>